<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileAgeRetainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileAgeRetainer.Properties.Settings>
            <setting name="DiagnosticsEventsource" serializeAs="String">
                <value>FileAgeRetainer</value>
            </setting>
            <setting name="RetainedFileRoots" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>c:\temp\...</string>
                        <string>d:\temp\...|FsMaintenanceRetainMonitoredObjectsMinutes:1|FsChecksumChangeCausePreservationReset:false|FsHashAlgorithm:SHA1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FsWatchInternalBufferBytes" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="CacheWorkerBlockMaxParrallelism" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FsTypeCheckToleranceSeconds" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FsTypeChangeCausePreservationReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsMaintenanceRetainMonitoredObjectsMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FsChecksumChangeCausePreservationReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueueProcesserTimerIntervalMs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="FsHashAlgorithm" serializeAs="String">
                <value>xxHash</value>
            </setting>
            <setting name="FsHashCalculateWholeDirectoryHashes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueueProcessorIgnoreChangedWhenCreatedThisBatch"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsRenameCausePreservationReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CacheSerializationFrequencyMs" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="CacheSerializationCacheTooOldDays" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FsMaintenanceWorkerFrequencyMs" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="FsMaintenanceWorkerInitialDelayMs" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="FsMaintenanceAttemptOportunisticCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FsMaintenanceAllowPerItemAging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiagnosticsEventHandlerSlackWebHook" serializeAs="String">
                <value>https://hooks.slack.com/services/theMagicNumberThing</value>
            </setting>
            <setting name="FsMaintenancePreservationDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FsMaintenanceNeverDeleteDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FsMaintenanceResetExpiredDirectoriesIfNeverDelete"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsMaintenanceOnlyDeleteFolderContentsAsGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiagnosticsEventLog" serializeAs="String">
                <value>Application</value>
            </setting>
        </FileAgeRetainer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
